{relx, [{release, { mongooseim, "1" }, [stdlib]},

        {dev_mode, true},
        {include_erts, false},

        {generate_start_script, false},
        {extended_start_script, false},

        {overlay_vars, ["../../rel/vars.config", "../../_build/.test_runner/dev.vars.config"]},
        {overlay, [
                   {template, "../../rel/files/mongooseim.cfg", "_prefix/etc/mongooseim.cfg"},

                   {template, "../../rel/files/nodetool",     "_prefix/erts-\{\{erts_vsn\}\}/bin/nodetool"},

                   {template, "../../rel/files/mongooseim",       "_prefix/bin/mongooseim"},
                   {template, "../../rel/files/mongooseimctl",    "_prefix/bin/mongooseimctl"},
                   {template, "../../rel/files/app.config",       "_prefix/etc/app.config"},
                   {template, "../../rel/files/vm.args",          "_prefix/etc/vm.args"},
                   {template, "../../rel/files/vm.dist.args",     "_prefix/etc/vm.dist.args"}
                  ]}

       ]}.
