#{
    "JOB" => "1",
    "PRESET" => "small_tests",
    "ERLANG_VERSION" => "20.3",
    "DB" => "",
%   Currently, docker would always mim and tests, because there is one container
%   "BUILD_TESTS" => "",
%   "BUILD_MIM" => "",
    "DEV_NODES" => "",
    "TEST_HOSTS" => "",
    "PRESET" => "small_tests",
    "DB" => "redis" % needed by ejabberd_sm_SUITE
}.

#{
    "JOB" => "2",
    "PRESET" => "internal_mnesia",
    "ERLANG_VERSION" => "20.3",
    "SMALL_TESTS" => "false",
    "DB" => "redis"
}.

#{
    "JOB" => "3",
    "PRESET" => "odbc_mssql_mnesia",
    "ERLANG_VERSION" => "20.3",
    "SMALL_TESTS" => "false",
    "DB" => "mssql redis"
}.

#{
    "JOB" => "4",
    "PRESET" => "ldap_mnesia",
    "ERLANG_VERSION" => "20.3",
    "SMALL_TESTS" => "false",
    "DB" => "ldap redis"
}.

#{
    "JOB" => "5",
    "PRESET" => "elasticsearch_and_cassandra_mnesia",
    "ERLANG_VERSION" => "20.3",
    "SMALL_TESTS" => "false",
    "TESTSPEC" => "mam.spec",
    "DB" => "elasticsearch cassandra redis",
%   "ELASTICSEARCH_VERSION" => "5.6.9",
    "ELASTICSEARCH_VERSION" => "5.5.0",
    "CASSANDRA_VERSION" => "3.9"
}.

#{
    "JOB" => "7",
    "PRESET" => "pgsql_mnesia",
    "ERLANG_VERSION" => "21.3",
    "DB" => "pgsql redis"
}.

#{
    "JOB" => "8",
    "PRESET" => "mysql_redis",
    "ERLANG_VERSION" => "21.3",
    "SMALL_TESTS" => "false",
    "DB" => "mysql redis rabbitmq"
}.

#{
    "JOB" => "9",
    "PRESET" => "riak_mnesia",
    "ERLANG_VERSION" => "21.3",
    "DB" => "riak redis",
    "SMALL_TESTS" => "false"
}.

#{
    "JOB" => "19",
    "ERLANG_VERSION" => "21.3",
    "DB" => "",
    "BUILD_TESTS" => "false",
    "BUILD_MIM" => "false",
    "BIG_TESTS" => "false",
    "DEV_NODES" => "",
    "TEST_HOSTS" => "",
    "PRESET" => "small_tests"
}.

%% Examples:
%#{
%    "JOB" => "2",
%    "PRESET" => "internal_mnesia",
%    "DB" => "",
%    "ERLANG_VERSION" => "19.3"
%}.
%
%#{
%    "JOB" => "1",
%    "PRESET" => "mysql_redis",
%    "DB" => "redis mysql",
%    "ERLANG_VERSION" => "20"
%}.
%
%#{
%    "JOB" => "2",
%    "PRESET" => "pgsql_mnesia",
%    "DB" => "redis pgsql",
%    "ERLANG_VERSION" => "20"
%}.
%
%#{
%    "JOB" => "3",
%    "PRESET" => "odbc_mssql_mnesia",
%    "DB" => "redis mssql",
%    "ERLANG_VERSION" => "20"
%}.
%
%#{
%    "JOB" => "4",
%    "PRESET" => "pgsql_mnesia",
%    "DB" => "redis pgsql",
%    "ERLANG_VERSION" => "21"
%}.
